[submodule "nrfx"]
	path = nrfx
	url = https://github.com/NordicSemiconductor/nrfx
[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython
[submodule "vgrs"]
	path = vgrs
	url = https://github.com/sathibault/vgrs
